<html>
<head>
</head>
<body style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;border-collapse:collapse;background:#f9f9f9;color:#002F6C">
<table width="100%"
       cellpadding="0"
       cellspacing="0"
       style="border-collapse:collapse;line-height:24px;margin:0;padding:0;width:100%;font-size:18px;color:#002F6C;background:#f9f9f9;border:0"
>
    <tbody>
    <tr>
        <td width="100%" style="text-align:center">
            <table width="600px"
                   height="608px"
                   align="center"
                   valign="top"
                   cellpadding="0"
                   cellspacing="0"
                   style="border-collapse:collapse;line-height:24px;margin:8px auto;padding:0;background:white;border:0"
            >
                <tbody>
                <tr>
                    <td><img style="margin:16px;width:200px;height:34px" src="cid:logo" width="280px"/></td>
                </tr>
                <hr style="border-width:1px;width:500px;background:#E8ECF2;opacity: 0.5">
                <tr>
                    <td style="padding:16px;font-size:16px;width:140px;height:65px">
                        Thank you for registering with Decenture! To complete your activation, please click the link below.
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center;padding: 1rem 0 1rem">
                        <a href="{{link}}"
                           style="color:white;text-decoration:none;word-break:break-word;line-height:26px;border-top:14px solid;border-bottom:14px solid;border-right:32px solid;border-left:32px solid;background-color:#2979FF;border-color:#2979FF;display:inline-block;letter-spacing:1px;min-width:80px;text-align:center;border-radius:4px"
                           rel="noreferrer"
                           target="_blank">
                            Confirm my account
                        </a>
                    </td>
                </tr>
                <tr>
                    <td style="color:#8097B5;text-align:center;font-size:14px;padding-top:16px">
                        or copy and paste this link into your browser
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center;font-size:14px">{{link}}</td>
                </tr>
                <tr>
                    <td style="color:#8097B5;text-align:center;padding-top:96px;padding-bottom:12px;font-size: 12px">
                        2018 Decenture, Inc. All rights reserved
                    </td>
                </tr>
                </tbody>
            </table>
            <p>
            </p>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
