@font-face {
    font-family: OpenSans;
    src: url('./../fonts/OpenSans-Regular.ttf');
}
@font-face {
    font-family: OpenSans;
    src: url('./../fonts/OpenSans-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: Roboto-Regular; /* Имя шрифта */
    src: url('./../fonts/Roboto-Regular.ttf'); /* Путь к файлу со шрифтом */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: OpenSans, Roboto-Regular;
}

a {
    text-decoration: none;
}

#app {
    min-height: 100vh;
}
